@font-face {
    font-family: Consolas;
    src: url(CONSOLA.TTF);
}
@font-face {
    font-family: Consolas_bold;
    src: url(CONSOLAB.TTF);
}

*{
    font-family: 'Consolas';
}

body{
    background-image:linear-gradient(to bottom,rgb(55, 174, 221), rgb(86, 80, 255));
    
    /*background-color:rgb(55, 174, 221);*/
    margin: 0px;
}

body .img{
    width: 50%;
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    border-radius: 2%;
    
}

.fish{
    width: 100%;
    margin: 0px;
}

.center{
    text-align: center;
}

hr.solid{
    border-top: 1px solid #585858;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #585858;
    width: 50%;
    max-width: 400px;
}

td.border{
    border-style:solid;
    border-color: black;
    align-items: center;
    border-width: 3px;
}

line{
    width: 100%;
    margin: 0px;
    height: 2px;
}

table{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

table .imageTitle{
    margin-bottom: -10px;
}

table .list{
    font-size: 90%;
}

td.left-column{
    width: 50%;
}
td.right-column{
    width: 50%;
}


table img{
    margin: 20px;
    border-radius: 2%;
    height: fit-content;
    max-height: 400px;
}

footer{
    background-image:linear-gradient(to bottom, rgb(86, 80, 255),rgb(57, 67, 253));
    margin: 0;
    height: 50px;
    position: relative;
}

.crossthrough{
    color: black;
}

.crossthrough-text{
    color: red;
}

.footer-div{
    text-align: right;
}

.footer-text{
    margin: 0;
    top: 50%;
    -ms-transform: translateY(90%);
    transform: translateY(90%);
}

.text{
    margin: 10px;
}

#title{
    text-align: center;
    font-family: "Consolas_bold";
    margin-bottom: -10px;
    margin-top: 1-px;
}

.bold{
    font-family: "Consolas_bold";
}

#sub-title{
    text-align: center;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: aliceblue;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}