@font-face {
    font-family: Consolas;
    src: url(CONSOLA.TTF);
}
@font-face {
    font-family: Consolas_bold;
    src: url(CONSOLAB.TTF);
}

*{
    font-family: 'Consolas';
    box-sizing: border-box;
}

header{
    background-image: url("./surface-water.jpeg");
    background-position: right;
    background-size: tile;
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: 101%;
}

body{
    background-image:linear-gradient(to bottom,rgb(32, 143, 180), rgb(121, 214, 239));
    
    /*background-color:rgb(55, 174, 221);*/
    margin: 0px;
    margin-left: -10px;
    min-width: 740px;
}

body img{
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    border-radius: 2%;
}

.fish{
    width: 100%;
    margin: 0px;
}

.center{
    text-align: center;
}

hr.solid{
    border-top: 1px solid #242424; /* 242424 */
    border-bottom: 2px solid #242424;
    border-left: 2px solid #242424;
    border-right: 2px solid #242424;
    width: 50%;
    max-width: 400px;
}

td{
    /*
    border-style:solid;
    border-color: black;
    align-items: center;
    border-width: 3px;
    */
    height: 400px;
}


.fixed{
    width: 100%;
    min-width: 100%;
    white-space: nowrap;
    position: inherit;
    padding: 0;
    margin: 0;
    height: fit-content;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
    margin-left: auto;
}


@media screen and (max-width: 1373px) {
    .column {
      width: 100%;
      margin-left: 25%;
    }
}

@media screen and (max-width: 910px) {
    .column {
      width: 100%;
      margin-left: auto;
    }
}

line{
    width: 100%;
    margin: 0px;
    height: 2px;
}

table{
    margin-left: 15px;
    margin-right: 0px;
    align-items: center;
    table-layout: fixed;
}

table .imageTitle{
    margin-bottom: -10px;
}

table .list{
    font-size: 90%;
    white-space: nowrap;
}


table img{
    margin: 20px;
    border-radius: 2%;
    height: auto;
    min-height: 250px;
    max-height: 400px;
}

footer{
    /*background-image:linear-gradient(to bottom, rgb(10, 150, 209), rgb(4, 125, 177));*/
    background-image: url("./sea-floor.jpeg");
    background-position: bottom;
    margin: 0;
    margin-top: -50px;
    height: 275px;
    position: relative;
    width: 101%;
}

.crossthrough{
    color: black;
}

.crossthrough-text{
    color: red;
}

.footer-div{
    text-align: left;
}

.footer-text{
    margin: 0;
    bottom: 0;
    right: 10px;
    text-align: left;
    position: absolute;
}

.text{
    margin: 10px;
}

#title{
    text-align: center;
    font-family: "Consolas_bold";
    margin-bottom: -10px;
    margin-top: 20px;
}

.bold{
    font-family: "Consolas_bold";
}

#sub-title{
    text-align: center;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}